<!doctype html>
<html lang="en">
  <head>
    <title>Hisaab: Dashboard</title>
    <link rel="shortcut icon" href="/static/growth.svg">
    {% include 'bootstrap.html' %}
    <style>
      .sidebar #dashboard {
      color: #2470dc;
    }
    </style>
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
    {% include 'dash_nav.html' %} 
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="dashboardSection">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="downloadAsXLSX()">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="exportButton">Export</button>
          </div>
          <div class="dropdown">
            <button id="dropdownButton" class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span data-feather="calendar" class="align-text-bottom"></span>
              <span id="dropdownSelected">Today</span>
            </button>
            <ul class="dropdown-menu" id="dropdownMenu">
              <li><a class="dropdown-item" href="/dashboard/today">Today</a></li>
              <li><a class="dropdown-item" href="/dashboard/thisweek">This week</a></li>
              <li><a class="dropdown-item" href="/dashboard/thismonth">This month</a></li>
              <li><a class="dropdown-item" href="/dashboard/thisquarter">This quarter</a></li>
              <li><a class="dropdown-item" href="/dashboard/thisyear">This year</a></li>
              <li><a class="dropdown-item" href="/dashboard/alltime">All time</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Cards -->
      <div class="row mb-4 row-cols-1 row-cols-md-3 mt-5 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: blue;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-wallet-fill" viewBox="0 0 16 16">
                    <path fill="white" d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill="white" d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">Gross Revenue</h3>
                  <h4 class="text-muted fw-light">&#x20b9;{{g_revenue}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: green;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                    <path fill="white" d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                    <path fill="white" d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">Gross Margin</h3>
                  <h4 class="text-muted fw-light">&#x20b9;{{g_margin}}
                    {% if perc_gmargin|int >= 0 %}
                      <span class="text-success">({{ perc_gmargin }})</span>
                    {% else %}
                      <span class="text-danger">({{ perc_gmargin }})</span>
                    {% endif %}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: red;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                    <path fill="white" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">Gross Expenses</h3>
                  <h4 class="text-danger fw-light">&#x20b9;{{g_expenses}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4 row-cols-1 row-cols-md-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: #FFD700;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
                    <path fill="#FFFFE0" d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">Net Revenue</h3>
                  {% if n_revenue|int >= 0 %}
                    <h4 class="text-success fw-light">&#x20b9;{{n_revenue}}</h4>
                  {% else %}
                    <h4 class="text-danger fw-light">&#x20b9;{{n_revenue}}</h4>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: gray;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path fill="white" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">COGS</h3>
                  <h4 class="text-muted fw-light">&#x20b9;{{cogs}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: #52C878;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                    <path fill="white" d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
                    <path fill="white" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1ZM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">EBITDA</h3>
                  {% if ebitda|int >= 0 %}
                    <h4 class="text-success fw-light">{{ebitda}}</h4>
                  {% else %}
                    <h4 class="text-danger fw-light">{{ebitda}}</h4>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Prediction -->
    <div class="row mb-5 row-cols-1 row-cols-md-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: #00CED1;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                    <path fill="white" fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">Revenue Forecast</h3>
                  <h4 class="text-muted fw-light">&#x20b9;{{p_revenue}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: #FF8C00;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                    <path fill="white" d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">Profit Forecast</h3>
                  <h4 class="text-muted fw-light">&#x20b9;{{p_profit}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="rounded-circle d-flex justify-content-center align-items-center" style="margin-left: 20px; width: 50px; height: 50px; background-color: #A0522D;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                    <path fill="white" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                  </svg>
                </div>
                <div class="mx-auto">
                  <h3 class="card-title pricing-card-title">Inventory Cost</h3>
                  <h4 class="text-muted fw-light">&#x20b9;{{inventory_cost}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <h3 class="card-title pricing-card-title"> Monthly Sales </h3>
              <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <h3 class="card-title pricing-card-title">Daily Sales</h3>
              <canvas class="my-4 w-100" id="myChart1" width="900" height="380"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 mt-5">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <h3 class="card-title pricing-card-title"> Expenses by Category </h3>
              <canvas class="my-4 w-100" id="myChart2" width="900" height="380"></canvas>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <h3 class="card-title pricing-card-title"> Daily Expenses </h3>
              <canvas class="my-4 w-100" id="myChart3" width="900" height="380"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 mt-5">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <h3 class="card-title pricing-card-title"> Top Products by Quantity </h3>
              <div class="table-responsive">
                <table class="table table-sm mt-2">
                  <thead>
                    <tr>
                      <th scope="col">Product Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Profit (INR)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product_qty in top_products_qty %}
                    <tr>
                      <td scope="col">{{product_qty['name']}}</td>
                      <td scope="col">{{product_qty['qty']}}</td>
                      <td scope="col">{{product_qty['profit']}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
              <h3 class="card-title pricing-card-title"> Top Products by Profit </h3>
              <div class="table-responsive">
                <table class="table table-sm mt-2">
                  <thead>
                    <tr>
                      <th scope="col">Product Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Profit (INR)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product_profit in top_products_profit %}
                    <tr>
                      <td scope="col">{{product_profit['name']}}</td>
                      <td scope="col">{{product_profit['qty']}}</td>
                      <td scope="col">{{product_profit['profit']}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include 'script.html' %}
    {% include 'dash_charts.html' %}
    <script src="/static/js/dashboard.js"></script>
  </body>
</html>
