<!doctype html>
<html lang="en">
  <head>
    <title>Hisaab: Dashboard</title>
    <link rel="shortcut icon" href="/static/growth.svg">
    {% include 'bootstrap.html' %}
    <style>
      .sidebar #dashboard {
      color: #2470dc;
    }
    </style>
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
    {% include 'dash_nav.html' %} 
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="dashboardSection">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="downloadAsXLSX()">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="exportButton">Export</button>
          </div>
          <div class="dropdown">
            <button id="dropdownButton" class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span data-feather="calendar" class="align-text-bottom"></span>
              <span id="dropdownSelected">Today</span>
            </button>
            <ul class="dropdown-menu" id="dropdownMenu">
              <li><a class="dropdown-item" href="/dashboard/today">Today</a></li>
              <li><a class="dropdown-item" href="/dashboard/thisweek">This week</a></li>
              <li><a class="dropdown-item" href="/dashboard/thismonth">This month</a></li>
              <li><a class="dropdown-item" href="/dashboard/thisquarter">This quarter</a></li>
              <li><a class="dropdown-item" href="/dashboard/thisyear">This year</a></li>
              <li><a class="dropdown-item" href="/dashboard/alltime">All time</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Cards -->
      <div class="row mb-5 row-cols-1 row-cols-md-3 mt-5 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Gross Revenue</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{g_revenue}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Gross Margin</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{g_margin}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Gross Expenditure</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{g_expenses}}</h4>
              </div>
            </div>
          </div>
      </div>
      <div class="row mb-5 row-cols-1 row-cols-md-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Net Revenue</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{n_revenue}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">COGS</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{cogs}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">EBITDA</h3>
                <h4 class="text-muted fw-light">{{ebitda}}</h4>
              </div>
            </div>
          </div>
      </div>
<!--       Prediction -->
      <div class="row mb-5 row-cols-1 row-cols-md-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Revenue Forecast</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{p_revenue}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Profit Forecast</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{p_profit}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title pricing-card-title">Inventory Cost</h3>
                <h4 class="text-muted fw-light">&#x20b9;{{inventory_cost}}</h4>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <h3> Monthly Sales </h3>
          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </div>
        <div class="col">
          <h3> Daily Sales </h3>
          <canvas class="my-4 w-100" id="myChart1" width="900" height="380"></canvas>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <h3> Expenses by Category </h3>
          <canvas class="my-4 w-100" id="myChart2" width="900" height="380"></canvas>
        </div>
        <div class="col">
          <h3> Daily Expenses </h3>
          <canvas class="my-4 w-100" id="myChart3" width="900" height="380"></canvas>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <h3> Top Products by Quantity</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm mt-2">
              <thead>
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Profit (INR)</th>
                </tr>
              </thead>
              <tbody>
                {% for product_qty in top_products_qty %}
                <tr>
                  <td scope="col">{{product_qty['name']}}</td>
                  <td scope="col">{{product_qty['qty']}}</td>
                  <td scope="col">{{product_qty['profit']}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <h3> Top Products by Profit</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm mt-2">
              <thead>
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Profit (INR)</th>
                </tr>
              </thead>
              <tbody>
                {% for product_profit in top_products_qty %}
                <tr>
                  <td scope="col">{{product_profit['name']}}</td>
                  <td scope="col">{{product_profit['qty']}}</td>
                  <td scope="col">{{product_profit['profit']}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    {% include 'script.html' %}
    {% include 'dash_charts.html' %}
    <script src="/static/js/dashboard.js"></script>
  </body>
</html>
