<!DOCTYPE html>
<html>
  <head>
    <title>Hisaab</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    <nav class="navbar shadow-sm fixed-top bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
  <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
          </svg>
          Hisaab
        </a>
        <a type="button" class="btn btn-success" href="/dashboard">Get Started</a>
      </div>
    </nav>
    <div style="height:56px"></div>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Hisaab
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        At Hisaab, we’re on a mission to build the most highly reputed accounting and financial analysis platform in the world, and we’re building it completely online. Our flagship data science program helps working professionals with a background in programming or analytics make a career transition to data science. We also offer several free beginner-friendly courses and have a fast-growing community of 200,000+ users.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
          
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Inventory</h2>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price (INR)</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <th scope="col">{{product['id']}}</th>
              <th scope="col">{{product['name']}}</th>
              <th scope="col">{{product['qty']}}</th>
              <th scope="col">{{product['cp']}}</th>
            </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:hello@jovian.ai?subject=Question%20about%20Job%20Opernings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E%0D%0A">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'script.html' %}
  </body>
</html>