<!DOCTYPE html>
<html>
  <head>
    <title>Hisaab</title>
    {% include 'bootstrap.html' %}
    <style>
      .card:hover {
      background-color: #cce6ff; 
      border-color: #007bff; 
    }
    </style>
    <link href="/static/css/home.css" rel=stylesheet>
  </head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar shadow-sm fixed-top bg-white">
      <div class="container-fluid">
        <a class="navbar-brand"  href="/">
          <img src="/static/analytics.png" class="img-fluid animated" alt="" width="35" height="35">
          <b>
            Hisaab
          </b>
        </a>
        <a type="button" class="btn btn-success" href="/dashboard">Get Started</a>
      </div>
    </nav>
    <div style="height:56px"></div>
    <!-- Main body -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Business Analytics just became easy</h1>
          <h2 class="pb-0 mb-5">Data is the new oil of the 21st century, analytics is the combustion engine.</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#why-us" class="btn-get-started scrollto">Know more</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/static/vector.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
    </section>
    
    <section id="why-us" class="why-us section">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="section-title">
            <h2>Why <strong>Hisaab?</strong></h2>
          </div>
        </div>
        <div class="row mb-5 row-cols-1 row-cols-md-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h1 class="card-title pricing-card-title">4</h1>
                <h2 class="text-muted fw-light">WEEKS</h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>to create enterprise level dashboard</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h1 class="card-title pricing-card-title">80%</h1>
                <h2 class="text-muted fw-light">REDUCTION</h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>in data spends</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <h1 class="card-title pricing-card-title">100%</h1>
                <h2 class="text-muted fw-light">VISIBILITY</h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>into data assests and processes</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="achievement" class="achievement section-bg">
      <div class="container data-aos="fade-up"">
        <div class="section-bg">
          <div class="section-title">
            <h2>Advantages</h2>
        </div>
        <div class="row row-cols-2 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <span><img src="https://www.maplemonk.com/wp-content/uploads/2021/10/benefits-icon1.svg" alt="Image"></span>
                <h3 class="card-title pricing-card-title mt-4">Unified Platform</h1>
                <p class="text-muted fw-light">Data integration to insights in one tool</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <span><img src="https://www.maplemonk.com/wp-content/uploads/2021/10/benefits-icon2.svg" alt="Image"></span>
                <h3 class="card-title pricing-card-title mt-4">Data Democratization</h1>
                <p class="text-muted fw-light">Enable every stakeholder in the organization with relevant data & promote data culture</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <span><img src="https://www.maplemonk.com/wp-content/uploads/2021/10/benefits-icon3.svg" alt="Image"></span>
                <h3 class="card-title pricing-card-title mt-4">High Data Confidence</h1>
                <p class="text-muted fw-light">Use health score to monitor all data assets and easily fix bad data</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <span><img src="https://www.maplemonk.com/wp-content/uploads/2021/10/benefits-icon4.svg" alt="Image"></span>
                <h3 class="card-title pricing-card-title mt-4">Augmented Analytics</h1>
                <p class="text-muted fw-light">Look beyond 'what happened' by performing advanced analytics without technical expertise</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <span><img src="https://www.maplemonk.com/wp-content/uploads/2021/10/benefits-icon5.svg" alt="Image"></span>
                <h3 class="card-title pricing-card-title mt-4">Eliminate Data</h1>
                <p class="text-muted fw-light">Integrate data from all sources to create a single source of truth, get holistic insights, and remove inconsistencies</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <span><img src="https://www.maplemonk.com/wp-content/uploads/2021/10/benefits-icon6.svg" alt="Image"></span>
                <h3 class="card-title pricing-card-title mt-4">Multi-Cloud Compatibility</h1>
                <p class="text-muted fw-light">Seamlessly leverage multiple cloud platforms across the data chain</p>
              </div>
            </div>
          </div>
         </div>  
          <div class="text-center">
          <a class="btn btn-primary btn-lg" href="/">Contact Us</a>
          </div>
        </div>
      </div>
    </section>
    
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a  target="_blank" href="" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a  target="_blank" href="" class="nav-link px-2 text-muted">Courses</a></li>
          
          <li class="nav-item"><a target="_blank" href="" class="nav-link px-2 text-muted">Events</a></li>
          <li class="nav-item"><a  target="_blank" href="" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2023 Hisaab, Inc</p>
      </footer>
    </div>
    
    {% include 'script.html' %}
  </body>
</html>