<!doctype html>
<html lang="en">
  <head>
    <title>Hisaab: Ledgers</title>
    <link rel="shortcut icon" href="/static/growth.svg">
    {% include 'bootstrap.html' %}
    <style>
      .sidebar #ledgers {
        color: #2470dc;
      }
    </style>
    
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>
  
  <body>
    {% include 'dash_nav.html' %} 
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Ledger</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>
      <!-- Chart -->
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      <!-- Tables -->
      <h2>Ledger</h2>
      <!-- Add transaaction form -->
      <form class="mb-5 mt-4" action="/add_ledger" method="POST">
        <div class="mx-auto row">
          <div class="col-md-2">
            <select id="option" name="wname" class="form-control">
              {% for wholesaler in wholesalers %}
              <option value="{{ wholesaler['wname'] }}">
                {{ wholesaler['wname'] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
              <input type="text" class="form-control" name="credit" placeholder="Credit">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" name="debit" placeholder="Debit">
           </div>
          <div class="col-md-3">
            <button class="btn btn-success" type="submit">Add transaction</button>
          </div>
        </div>
      </form>
      <!-- Show transactions -->
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Wholesaler</th>
              <th scope="col">Transaction time</th>
              <th scope="col">Credit(INR)</th>
              <th scope="col">Debit(INR)</th>
            </tr>
          </thead>
          <tbody>
            {% for ledger in ledgers %}
            <tr>
              <td scope="col" contenteditable="false">{{ledger['wid']}}</td>
              <td scope="col" contenteditable="false">{{ledger['wname']}}</td>
              <td scope="col" contenteditable="false">{{ledger['ttime']}}</td>
              <td scope="col" contenteditable="false">{{ledger['credit']}}</td>
              <td scope="col" contenteditable="false">{{ledger['debit']}}</td>
              <td>
                <a class="btn btn-outline-primary" href="" role="button" onclick="editRow(this)">Update</a>
                <a class="btn btn-outline-success d-none" href="" role="button" onclick="saveRow(this)">Save</a>
                <a class="btn btn-outline-danger" href="/ledgers/{{ledger['wid']}}/delete" role="button">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
      </div>
    </div>
    {% include 'script.html' %}
    {% include 'chart.html' %}
    <script src="/static/js/ledger.js"></script>
  </body>
</html>
