<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Login: Hisaab</title>
    {% include 'bootstrap.html' %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      a{
        margin: 40px 170px 0px 0px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>
  
  <body class="text-center">
    <main class="form-signin">
      <form action="/" method="POST">
        <img src="/static/analytics.png" width="60">
        <h1 class="mt-3">Hisaab</h1>
        <p>Business Analytics just became easy!</p>
        <div class="form-floating">
          <input type="text" class="form-control" name="username" placeholder="Jim Halpert">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <a href="/register">Create Account</a>
        <p class="mt-5 mb-3 text-muted">&copy;2023 Hisaab, Inc</p>
      </form>
    </main>
  </body>
</html>