<!doctype html>
<html lang="en">
  <head>
    <title>Hisaab: Products</title>
    <link rel="shortcut icon" href="/static/growth.svg">
    {% include 'bootstrap.html' %}
    <style>
      .sidebar #products{
        color: #2470dc;
      }
    </style>
    
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>
  
  <body>
    {% include 'dash_nav.html' %} 
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>
      <!-- Chart -->
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
      <!-- Tables -->
      <h2>Inventory</h2>
      <!-- Add to Inventory Form -->
      <form class="mb-5 mt-4" action="/add_product" method="POST">
        <div class="mx-auto row">
          <div class="col-md-2">
            <input type="text" class="form-control" name="pname" placeholder="Product Name">
          </div>
          <div class="col-md-2">
              <input type="text" class="form-control" name="pqty" placeholder="Quantity">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" name="pcp" placeholder="Cost Price">
           </div>
          <div class="col-md-2">
            <input type="text" class="form-control" name="psp" placeholder="Sale Price">
           </div>
          <div class="col-md-3">
            <button class="btn btn-success" type="submit">Add Product</button>
          </div>
        </div>
      </form>
      
      <!-- Show Inventory -->
      <div class="table-responsive mb-3">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Product Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Cost Price (INR)</th>
              <th scope="col">Sale Price (INR)</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td scope="col" contenteditable="false">{{product['pid']}}</td>
              <td scope="col" contenteditable="false">{{product['pname']}}</td>
              <td scope="col" contenteditable="false">{{product['pqty']}}</td>
              <td scope="col" contenteditable="false">{{product['pcp']}}</td>
              <td scope="col" contenteditable="false">{{product['psp']}}</td>
              <td>
                <a class="btn btn-outline-primary" href="" role="button" onclick="editRow(this)">Update</a>
                <a class="btn btn-outline-success d-none" href="" role="button" onclick="saveRow(this)">Save</a>
                <a class="btn btn-outline-danger" href="/products/{{product['pid']}}/delete" role="button">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
    {% include 'script.html' %}
    {% include 'chart.html' %}
    <script>
      function editRow(button) {
        // Get the table row element
        let row = button.closest("tr");
        // Hide the "Edit" button and show the "Save" button
        row.querySelector(".btn-outline-primary").classList.add("d-none");
        row.querySelector(".btn-outline-success").classList.remove("d-none");
        // Make all the table cells in the row (except Actions) editable
        row.querySelectorAll("td:not(:last-child)").forEach((cell) => {
          cell.setAttribute("contenteditable", "true");
          cell.setAttribute("data-old-value", cell.textContent);
        });
        event.preventDefault(); // prevent scrolling up
      }

      function saveRow(button) {
          // Get the table row element
          let row = button.closest("tr");
        
          // Get the updated values of each cell
          let pname = row.cells[1].textContent;
          let pqty = row.cells[2].textContent;
          let pcp = row.cells[3].textContent;
          let psp = row.cells[4].textContent;
          let pid = row.cells[0].textContent;
        
          // Send an AJAX request to update the product
          let xhr = new XMLHttpRequest();
          xhr.open("POST", "/products/update");
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                // Update successful, hide the "Save" button and show the "Update" button again
                row.querySelector(".btn-outline-success").classList.add("d-none");
                row.querySelector(".btn-outline-primary").classList.remove("d-none");
                // Make all the table cells in the row non-editable
                row.querySelectorAll("td").forEach((cell) => {
                  cell.setAttribute("contenteditable", "false");
                  cell.removeAttribute("data-old-value");
                });
              } else {
                // Error occurred
                console.error(xhr.responseText);
              }
            }
          };
        xhr.send(`pid=${pid}&pname=${pname}&pqty=${pqty}&pcp=${pcp}&psp=${psp}`);
        }
    </script>

  </body>
</html>
