<!doctype html>
<html lang="en">
  <head>
    <title>Hisaab: Products</title>
    <link rel="shortcut icon" href="/static/growth.svg">
    {% include 'bootstrap.html' %}
    <style>
      .sidebar #products{
        color: #2470dc;
      }
    </style>
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    {% include 'dash_nav.html' %} 
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="dashboardSection">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="downloadAsXLSX()">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" id="exportButton">Export</button>
          </div>
        </div>
      </div>
      <!-- Chart -->
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </div>
      </div>
      <!-- Tables -->
      <h2>Inventory</h2>
      <!-- Add to Inventory Form -->
      <form class="mb-5 mt-4" action="/add_product" method="POST">
        <div class="mx-auto row">
          <div class="col-md-2">
            <input type="text" class="form-control" name="pname" placeholder="Product Name">
          </div>
          <div class="col-md-2">
              <input type="text" class="form-control" name="pqty" placeholder="Quantity">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" name="pcp" placeholder="Cost Price">
           </div>
          <div class="col-md-2">
            <input type="text" class="form-control" name="psp" placeholder="Sale Price">
           </div>
          <div class="col-md-3">
            <button class="btn btn-success" type="submit">Add Product</button>
          </div>
        </div>
      </form>
      <!-- Show Inventory -->
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <div class="table-responsive mb-3">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col" class="d-none">Table ID</th>
                  <th scope="col">ID</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Cost Price (INR)</th>
                  <th scope="col">Sale Price (INR)</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                <tr>
                  <td scope="col" contenteditable="false" class="d-none">{{product['pid']}}</td>
                  <td scope="col" contenteditable="false">{{loop.index}}</td>
                  <td scope="col" contenteditable="false">{{product['pname']}}</td>
                  <td scope="col" contenteditable="false">{{product['pqty']}}</td>
                  <td scope="col" contenteditable="false">{{product['pcp']}}</td>
                  <td scope="col" contenteditable="false">{{product['psp']}}</td>
                  <td>
                    <a class="btn btn-outline-primary" href="" role="button" onclick="editRow(this)">Update</a>
                    <a class="btn btn-outline-success d-none" href="" role="button" onclick="saveRow(this)">Save</a>
                    <a class="btn btn-outline-danger" href="/products/{{product['pid']}}/delete" role="button">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    {% include 'script.html' %}
    {% include 'chart.html' %}
    <script src="/static/js/products.js"></script>
  </body>
</html>
