<!doctype html>
<html lang="en">
  <head>
    <title>Register: Hisaab</title>
    <link rel="shortcut icon" href="/static/growth.svg">
    {% include "bootstrap.html" %}
  </head>
  <body class="bg-light">
    
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="/static/growth.svg" alt="" width="72" height="65">
          <h2>Sign up: Hisaab</h2>
        </div>

        <div class="row g-5">
          <div class="d-flex justify-content-center">
            <form class="needs-validation" novalidate action="/register" method="POST">
              <div class="row g-3">
                <div class="col-12">
                  <label for="username" class="form-label">Username</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                  <div class="invalid-feedback">
                      Your username is required.
                    </div>
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="company" class="form-label">Company Name</label>
                  <input type="text" class="form-control" name="company" id="company" placeholder="ABC Company">
                  <div class="invalid-feedback">
                    Please enter a valid company name
                  </div>
                </div>
    
                <div class="col-12">
                  <label for="password" class="form-label">Password</label>
                  <input type="text" class="form-control" name="password" id="password" placeholder="1234" required>
                  <div class="invalid-feedback">
                    Enter Password
                  </div>
                </div>
              </div>
              <button class="w-100 mt-3 btn btn-primary btn-lg" type="submit">Register</button>
            </form>
          </div>
        </div>
      </main>
    
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy;2023 Hisaab, Inc</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>